*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    background-color: gray;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
}
.navbar ul {
    display: flex;
    list-style: none;
    margin-left: autocls;
}
.navbar ul li {
    padding: 20px;
}
.logo img {
    width: 20em;
}
ul{
    margin-left: auto;
}
header.navbar ul {
    margin-left: auto ;
}